.menu_title_box {
    margin-top: 50px;
}

.menu_title {
    display: flex;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
}

.detail_menu_title {
    display: flex;
    text-align: center;
    font-size: 2rem;
    width: 50vw;
    margin-left: 300px;
    justify-content: center;
}

.fontawesome-size {
    font-size: 3.5em;
    transform: rotate(180deg);
    -webkit-text-stroke: 4px white;
    position: absolute;
    left: 20px;
    top: 74px;
    color: black;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    margin-top: 15px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: calc(100% - 500px);
    margin-right: 10px;
    font-size: 20px;
}

.search-button {
    font-size: 20px;
    margin-top: 15px;
    width: 80px;
    height: 60px;
    border: none;
    border-radius: 15px;
    background-color: #FFA954;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.results-container {
    margin: 0 20px;
}

.result-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    max-width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

.result-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    /* 画像が枠からはみ出さないようにする */
}

.result-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像を枠にフィットさせる */
}

.result-name,
.result-id {
    flex-grow: 1;
    margin: 0 10px;
}

.no-result-message {
    color: red;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.modal {
    display: none;
    /* デフォルトではモーダルを非表示に */
    position: fixed;
    z-index: 2;
    /* コンテンツより前面に */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* モーダルコンテンツが長い場合はスクロール可能に */
    background-color: rgb(0, 0, 0);
    /* 背景色 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 背景色の透明度 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* ページの中央に配置 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* モーダルの幅 */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ban_button {
    display: flex;
    float: right;
    margin-top: -40px;
    margin-right: 100px;
    text-decoration: none;
    color: white;
    background: red;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.reporter_info_box {
    display: flex;
    position: relative;
    font-size: 1.3rem;
    border: 1.5px solid black;
    margin-top: 25px;
    margin-left: 140px;
    width: 80vw;
}

.reporter_name {
    margin: 0px 10px;
}

.report_num {
    position: absolute;
    right: 0px;
    padding-right: 10vw;
    padding-left: 10px;
    border: 1px solid black;
}

.profile_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.report_post_box {
    position: relative;
    font-size: 1.3rem;
    margin-top: 25px;
    margin-left: 140px;
    width: 80vw;
}

.post_box {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1.5px solid black;
}

.report_name_box {
    width: 100%;
    border: 1px solid black;
}

.report_name_title {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.commuinty_report{
    margin-top: 100px;
}