body {
    margin: 0px;
    font-family: 'Meiryo';
}

.h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

.fontawesome-size{
    font-size: 3.5em;
    transform: rotate(180deg);
    -webkit-text-stroke: 4px white;
    position: absolute;
    left: 20px;
    top: 74px;
}

.word{
    margin-top: -25px;
    text-align: center;
    font-size: 32px;
}

table{
    margin: auto;
    border-collapse:collapse;
    border: 2px gray solid;
}

.table{
    font-size: 25px;
    text-align: center;
}

.table_user_name{
    width: 350px;
    height: 40px;
}

.table_auth{
    width: 200px;
}

.scroll{
    display: block;
    height: 200px;
    overflow-y:scroll;
}

thead{
    display: block;
}


.btn{
    position: absolute;
    left:  43%;
    top:85%;

    display: block;
	vertical-align: middle;
	text-decoration: none;
	width: 180px;
    height: 45px;
	padding: 0;
	font-weight: lighter;
	border-radius: 0.4rem;
    border: 1px gray solid;
	background: #FFA954;
	color: #ffffff;
    font-size: 27px;
    text-align: center;
}

.btn:hover {
    background: #e89d52;
}



.toggle_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .toggle_label {
    width: 75px;
    height: 35px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    transition: 0.4s;
    box-sizing: border-box;
  }
  
  .toggle_label:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }
  
  .toggle_input:checked + .toggle_label {
    background-color: #4BD865;
  }
  
  .toggle_input:checked + .toggle_label:after {
    left: 40px;
  }
  
  .toggle_button {
    position: relative;
    width: 75px;
    height: 35px;
    margin: auto;
  }