/* ヘッダーのスタイル */
.header {
    background-color: #FDFFB8;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px; /* ロゴのサイズ調整 */
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #333;
}
.center {
    text-align: center;
}
.back-btn{
    position: absolute;
    top:80px;
    left:20px;
    cursor: pointer; 
}
.h1{
    font-size:20px;
    align-items:left;
    margin-bottom:2px;
}
.community-info{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw;
    transform: translateX(-50%) translateY(-50%);
}

.underline{
    font-size: 18px;
    border-bottom:1px solid;
    width: 100%;
    padding-bottom: -3px;
    line-height: 25px;
}

.rounded-border {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px;
    user-select: none;
    resize: none;
    width: 100%;
    height: 150px;
}

.community-btn{
    text-align: center;
    width: 100%;
}

.invitation-btn{
	text-align: center;
    color: white;
    font-size:20px;
    width:  250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border-color: whitesmoke;
    background-color:#FFA954;
    box-shadow: none;
    cursor: pointer; 
    float: right;
    position: relative;
    margin-right:20px ;
}
.rejection{
	text-align: center;
    font-size:20px;
    width:  250px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    border-color:black;
    background-color:white;
    box-shadow: none;
    cursor: pointer;
    float: left;
    text-decoration: none;
    margin-left: 20px;
}
.invitation-btn:active{
    transform: translateY(4px); /* ボタンが押されたときに文字も4px下に移動 */
}
.rejection:active{
    transform: translateY(4px); /* ボタンが押されたときに文字も4px下に移動 */
}