.center {
    text-align: center;
}

.fontawesome-size {
    font-size: 3.5em;
    transform: rotate(180deg);
    -webkit-text-stroke: 4px white;
    position: absolute;
    left: 20px;
    top: 74px;
    cursor: pointer;
}

.report-btn {
    line-height: 30px;
    position: absolute;
    top: 80px;
    right: 30px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    border-color: white;
    background-color: red;
    width: 150px;
    height: 30px;
}

.report-btn2 {
    text-decoration: none;
    color: white;
    border-color: white;
    background-color: red;
    width: 150px;
    height: 30px;
}

.h1 {
    font-size: 20px;
    align-items: left;
    margin-bottom: 2px;
}

.community-name p {
    font-size: 20px;
}

.community-info {
    margin-left: 150px;
}

.community-info_postreport {
    width: 60vw;
    margin-left: 250px;
}

.community-info_check {
    width: 60vw;
    margin-left: 220px;
}

.reason_event_report {
    padding-left: 120px;
    margin-bottom: 50px;
    font-size: 1.3rem;
}

.reason_write_event_report {
    display: flex;
    justify-content: center;
    width: 80%;
    resize: none;
    border-radius: 10px;
    margin-top: auto;
    margin-left: 120px;
    margin-right: auto;
    margin-bottom: 15px;
}

.submit_bottun_event_report {
    font-family: "メイリオ";
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFA954;
    border: 1px solid #000000;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 5px;
    text-decoration: none;
    float: right;
}

.community-info1 {
    margin-left: 150px
}

.underline {
    text-decoration: underline;
}

.underline {
    text-decoration: none;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    width: 1000px;
    padding-bottom: 10px;
}

/* ボーダーラインのスタイル調整 */
.rounded-border {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    user-select: none;
    resize: none;
    width: 1000px;
    height: 150px;
    margin-bottom: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ボタンコンテナのスタイル */
.community-btn {
    transform: translateX(-20px);
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

/* ボタンのスタイル */
.invitation-btn,
.rejection {
    font-size: 20px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FFA954;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
}

.rejection {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
}

.buttun_block {
    margin-top: 30px;
    margin-right: 150px;
}

form {
    margin-top: 30px;
}

.submit_bottun {
    font-family: "メイリオ";
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFA954;
    border: 1px solid #000000;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: auto;
    margin-left: auto;
    margin-right: 120px;
    margin-bottom: 5px;
    text-decoration: none;
    float: right;
}

.back_bottun {
    font-family: "メイリオ";
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: auto;
    margin-left: 120px;
    margin-right: auto;
    margin-bottom: auto;
    float: left;
}

.invitation-btn:active {
    transform: translateY(4px);
    /* ボタンが押されたときに文字も4px下に移動 */
}

.rejection:active {
    transform: translateY(4px);
    /* ボタンが押されたときに文字も4px下に移動 */
}

.report_buttun {
    display: flex;
    text-align: center;
    margin-top: auto;
    margin-right: auto;
    margin-left: 50px;
    margin-bottom: 15px;
    height: 30px;
    width: 80%;
    line-height: 30px;
    border: solid #000000 1px;
    cursor: pointer;
}

input:checked+label {
    color: red;
}

.reason {
    font-size: 20px;
}

.reason_write {
    display: flex;
    justify-content: center;
    width: 80%;
    resize: none;
    border-radius: 10px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 150px;
    margin-bottom: 15px;
}

.community_name {
    font-size: 1.5rem;
}

.report_form {
    margin: 0 auto;
}

/* ホバー時のスタイル */
.invitation-btn:hover,
.rejection:hover {
    opacity: 0.8;
}

/* アクティブ時（クリック時）のスタイル */
.invitation-btn:active,
.rejection:active {
    transform: translateY(4px);
}