{% extends "header_edit.html"%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/admin_search.css')}}">
{% endblock %}
{% block content %}
<div class="menu_title_box">
    <a class="detail_menu_title">ユーザー管理</a>
    <a  href="{{url_for('admin.user_menu')}}"><i class="fa-solid fa-arrow-right fontawesome-size"></i></a>
</div>
<a class="ban_button"href="{{url_for('admin.user_ban_check')}}">アカウントBAN</a>
<div class="reporter_info_box">
    <a class="reporter_name">{{info[3]}}</a>
    <a class="reporter_id">@{{info[1]}}</a>
    <a class="report_num">通報回数：{{cnt}}</a>
    <a class="profile_link"href="{{url_for('admin.reporter_profile')}}"></a> 
</div>
<div class="report_post_box">
    {%for post in post_list%}
    <div class="post_box">
        <div class="report_name_box">
            <a class="report_name_title">通報内容</a>
            <a class="report_name">{{post[2]}}</a>
        </div>
        <div class="report_reason_box">
            {% if post[1]!=''%}
                <a class="report_reason">通報理由:{{post[1]}}</a><br>
            {% endif%}
            <p class="report_post">{{post[3]}}</p>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}