<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>認証画面</title>
</head>
<body>
    <img class="title" src="../static/imges/icon.png" alt="icon">
    <div class="form">
            <form action="{{url_for('certification_mail')}}" method="post">
                <p class="login">認証</p><br>
                    <input class="text_line2" type="mail" name="mail" placeholder="Email"><br>
                    <input class="text_line2" type="text" name="code" placeholder="認証コード"><br>
                    <input class="submit_bottun3" type="submit" value="認証"><br>
        </form>
    </div>
</body>
</html>