<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>ログイン画面</title>
</head>
<body>
    {% if error %}
    <script>
        const timer = setTimeout(()=>{
            alert('メールアドレス、またはパスワードが違います')
        },50)
    </script>
    {% endif %}
    <img class="title" src="../static/imges/icon.png" alt="icon">
    <div class="form">
            <form name="login_form" action="{{url_for('login')}}" method="post" onsubmit="return checkLogin()">
                <p class="login">ログイン</p><br>
                    <input class="text_line" type="mail" name="mail" value="{{data.mail if data is defined else ''}}" placeholder="Email"><br>
                    <input class="text_line" type="password" name="password" placeholder="Password"><br>
                    <input class="submit_bottun" type="submit" value="ログイン"><br>
        <a class="gorilla" href="{{url_for('register_accounts')}}">新規登録はこちら</a><br>
        <a class="gorilla" href="{{url_for('password_reset')}}">パスワードを忘れた方はこちら</a>

        </form>
    </div>
    <script>
        function checkLogin(){
            let text=document.login_form.mail.value;
            let text2=document.login_form.password.value;
            if(text.length === 0 || text2.length===0) {
                alert('必須項目に入力してください。');
                return false;
            }else{
                return true
            }
        }
    </script>
</body>
</html>