<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>ログイン画面</title>
</head>
<body>
    <img id="title" src="../static/imges/icon.png" alt="icon">
    <div id="form">
            <form action="" method="post">
                <p id="login">ログイン</p><br>
                <input id="text_line" type="mail" name="mail" placeholder="Email"><br>
                <input id="text_line" type="mail" name="mail" placeholder="Password"><br>
                <input id="submit_bottun" type="submit" value="ログイン"><br>
        <a id="gorilla" href="{{url_for('top',checkcal=0)}}">新規登録はこちら</a><br>
        <a id="gorilla" href="">パスワードを忘れた方はゴリラ</a>
        </form>
    </div>
</body>
</html>