<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>パスワード再設定</title>
</head>
<body>
    <img class="title" src="../static/imges/icon.png" alt="icon">
    <div class="form">
            <form name="pass_form" action="{{url_for('password_update_success')}}" method="post"  onsubmit="return checkEmpty()">
                <p class="login">パスワード再設定</p><br>
                    <input class="text_line2" type="password" name="password" placeholder="New Password"><br>
                    <input class="text_line2" type="password" name="check_password" placeholder="Check Password"><br>
                    <input class="submit_bottun3" type="submit" value="登録"><br>
        </form>
    </div>
    <script>
        function checkEmpty(){
            let text=document.pass_form.password.value;
            let text2=document.pass_form.check_password.value;
            if(text.length === 0 || text2.length===0) {
                alert('必須項目に入力してください。');
                return false;
            }else if(match(text)){
                if(text===text2){
                    return true
                }else{
                    alert('パスワードが一致しません')
                    return false
                }
            }else{
                alert('パスワードは英数字8文字以上16文字以内で設定してください')
                return false
            }
        }
        function match(text){
            let pattern = /^[a-zA-Z0-9]{8,16}$/
            if(text.search(pattern)==-1){
                return false
            }else{
                return true
            }
        }
    </script>
</body>
</html>