<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>新規アカウント登録</title>
</head>
<body>
    {% if error %}
    <script>
        const timer = setTimeout(()=>{
            alert('アカウントが見つかりませんでした')
        },50)
    </script>
    {% endif %}
    <img class="title" src="../static/imges/icon.png" alt="icon">
        <div class="form">
            <form name='login_form' action="{{url_for('password_set')}}" method="post" onsubmit="return checkEmpty()">
                <p class="login">パスワード再設定</p><br>
                <p class="text_now">パスワードを変更したいアカウントのメールアドレスを入力してください<p>
                <div class="reset">
                    <input class="text_line" type="mail" name="mail" placeholder="Email" value="{{data.mail if data is defined else ''}}"><br>            </div>
                <div>
                    <a class='back_bottun' href="{{url_for('back_index')}}">戻る</a>
                    <input class="submit_bottun2" type="submit" value="登録"><br>
                </div>
            </form>
        </div>
</body>
</html>