<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>新規アカウント登録</title>
</head>
<body>
    <img class="title" src="../static/imges/icon.png" alt="icon">
        <div class="form">
            <form action="{{url_for('send')}}" method="post">
                <p class="login">新規アカウント登録</p><br>
                <div>
                    <p class='sub_title'>以下の内容で登録します</p><br>
                    <p class="check">User Name　:　 {{name}}</p><br>
                    <p class="check">Email　:　{{mail}}</p><br>
                    <p class="check">Password　:　＊＊＊＊＊＊＊</p><br>
                    <div>
                        <a class='back_bottun' href="{{url_for('back_register')}}">戻る</a>
                        <input class="submit_bottun2" type="submit" value="登録"><br>
                    </div>
                </div>
            </form>
        </div>
</body>
</html>