<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>新規アカウント登録</title>
</head>
<body>
    <img class="title" src="../static/imges/icon.png" alt="icon">
    <div class="form">
        <div>
            <p class="login">新規アカウント登録</p><br>
            <p class="text">仮登録が完了しました</p><br>
            <p class="text">登録したメールアドレスに認証用URLと認証コードを送信しました</p><br>
            <a class='back_bottun2' href="{{url_for('back_index')}}">ログイン画面へ</a>
        </div>
    </div>
</body>
</html>