<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ac_withdraw.css">
    <title>アカウント退会</title>
</head>
<body>
    <div class="title">
        <img class="title-size" src="/static/imges/icon.png" alt="icon">
    </div>

    <div class="form">
        <p class="font1">アカウント退会</p>
        <p class="font2">このアカウントを退会しますか？</p>
        
        <div class="title-button2">
            <a class="back_bottun" href="">戻る</a>
            <a class="submit_bottun2" href="{{url_for('account_withdraw2')}}">退会</a>
        </div>
    </div>
</body>
</html>