<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ac_withdraw.css">
    <title>アカウント退会</title>
</head>
<body>
    <div class="title">
        <img class="title-size" src="/static/imges/icon.png" alt="icon">
    </div>

    <div class="form">
        <h1 class="font1">アカウント退会完了</h1>
        <p class="font5">アカウント退会が完了しました。</p><br>
        
        <div class="title-button">
            <a class="submit_bottun" href="{{url_for('index')}}">ログイン画面へ</a>
        </div>
    </div>
</body>
</html>