<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/withdraw.css">
    <title>コミュニティ退会</title>
</head>
<body>
    <div class="title">
        <img src="/static/imges/icon.png" alt="icon">
    </div>

    <div class="form">
        <h1 class="font1">コミュニティ退会</p><br><br>
        <p class="font2">このコミュニティから退会しますか？</p>
        
        <div class="title-button">
            <a class="back_bottun" href="">戻る</a>
            <a class="submit_bottun2" href="">削除</a>
        </div>
    </div>
</body>
</html>