<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/withdraw.css">
    <title>コミュニティ退会</title>
</head>
<body>
    <div class="title">
        <img src="/static/imges/icon.png" alt="icon">
    </div>

    <div class="form">
        <h1 class="font1">退会完了</p><br><br>
        <p class="font2">コミュニティの退会が完了しました。</p>
        
        <div class="title-button">
            <a class="submit_bottun3" href="">マイページ画面へ</a>
        </div>
    </div>
</body>
</html>