{% extends "header_edit.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/invitation.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">

{% endblock %}

{% block content %}
    <div class="center">
        <h2>コミュニティ参加</h2>
            <i class="fa-solid fa-arrow-right fontawesome-size" onclick="history.back();"></i>
    </div>
        <div class="community-info">
            <div class="community-name">
                <h1>コミュニティ名</h1>
                <p class="underline">{{ community.name }}</p>
                <h1>推しの名前</h1>
                <p class="underline">{{community.oshiname}}
                <h1>概要</h1>
                <p class="rounded-border" >{{ community.overview }}</p>
            </div>
            <div class="community-btn">
                <a href="{{ url_for('reject_invitation', community_id=community.id) }}" class="rejection">拒否する</a>
                <a href="{{ url_for('join_community', community_id=community.id) }}" class="invitation-btn">参加する</a>
            </div>
        </div>        
{% endblock %}


