{% extends "header.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/menu_user.css')}}">
<link rel="stylesheet" href="/static/css/search.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
{% endblock %}

{%block content%}
    <div>
        <h1 class="h1">コミュニティ検索</h1>
        <i class="fa-solid fa-arrow-right fontawesome-size"></i>
    </div>

    <div class="word">
        <p>推しの名前から</p>
        <p>参加したいコミュニティを検索</p>
    </div>

    <form>
        <div>
            <input type="search" placeholder="  押しの名前で検索" class="search_var">
        </div>
        <div>
            <button type="submit" class="btn button005">検索</button>
        </div>
    </form>
    
    
{%endblock%}