{% extends "header_edit.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/postreport.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
{% endblock %}
{% block content %}

<h1 class="title">通報の確認</h1>

{% if report_category == 'その他' %}
    <div class="reason-form">
        <p class="txt">「その他」を選択した理由を入力してください</p>
        <form action="{{ url_for('confirm_report', post_id=post_id) }}" method="post" class="form-with-buttons">
            <input type="hidden" name="report_category" value="{{ report_category }}">
            <textarea name="report_detail" required placeholder="通報理由を記述してください" maxlength="128"></textarea>
            <div class="buttons-container">
                <button type="button" class="back-button" onclick="history.back()">戻る</button>
                <button type="submit" class="report-button">通報する</button>
            </div>
        </form>
    </div>
{% else %}
    <div class="report-confirm">
        <p class="txt">以下の内容で通報しますか？</p>
        <p>通報理由: {{ report_category }}</p>
        <div class="buttons-container">
            <button class="back-button" onclick="history.back()">戻る</button>
            <form action="{{ url_for('confirm_report', post_id=post_id) }}" method="post">
                <input type="hidden" class="report_category" name="report_category" value="{{ report_category }}">
                <button type="submit" class="report-button">通報する</button>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}
