{% extends "header.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/menu_user.css')}}">
<link rel="stylesheet" href="/static/css/editprofile.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">

{% endblock %}

{% block content %}

{% block header_msg%}
{% if msg!=null %}
<a class="header_msg">{{msg}}</a>
{% endif %}
{%endblock%}

<div class="title">
    <h2 style="text-align:center">プロフィール編集</h2>
    <a href="{{ url_for('top',checkcal=0) }}" class="fontawesome-size">
    <i class="fa-solid fa-arrow-right"></i>
</a>
</div>
<form action="{{ url_for('editprofile') }}" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <!-- 左側のセクション -->
        <div class="left-section">
            <div class="upload-section">
                <!-- アイコン画像表示 -->
                <img src="https://oshimore.s3.ap-northeast-1.amazonaws.com/img/{{ user.icon_url }}" alt="User Icon" class="icon-image">
                <!-- 画像アップロードフィールド -->
                <input type="file" id="filename" name="file" accept=".png">
                <div class="form-group-left">
                    <label for="user_id">ユーザーID</label>
                    <input type="text" name="user_id" id="user_id" oninput="enforceHalfWidthAlphaNumeric(this)" required maxlength="16" placeholder="ユーザーID" value="{{ user.user_id }}">
                </div>
            </div>
        </div>
        
        <!-- 右側のセクション -->
        <div class="right-section">
            <div class="form-group horizontal">
                <label for="account_name">ユーザー名</label>
                <input type="text" name="account_name" id="account_name" required maxlength="16" placeholder="ユーザー名" value="{{ user.account_name }}">
            </div>
            
            <div class="form-group">
                <label for="profile">プロフィール文</label>
                <textarea name="profile" id="profile" maxlength="256" placeholder="プロフィール">{{ user.profile }}</textarea>
            </div>
            <div class="oshi-list-container">
                <table class="oshi-table">
                    <thead>
                        <tr>
                            <th>推しリスト</th>
                            <th>非公開/公開</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for oshi in oshis %}
                        <tr>
                            <td>{{ oshi.favorite_name }}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="oshi_{{ oshi.community_id }}" {% if not oshi.is_public %}checked{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ url_for('account_withdraw1') }}" class="delete-button">アカウント退会はこちら</a>
            <button class="save-button" type="submit">保存する</button>
        </div>
    </div>
</form>

<script>
    function enforceHalfWidthAlphaNumeric(el) {
        el.value = el.value.replace(/[^A-Za-z0-9]/g, '');
    }
</script>

<div class="popup_b">
    <a><img  class="backbutton"src="{{url_for('static',filename='/imges/back.png')}}"></a>
    <a class="popup_b_title">コミュニティ作成</a><br>
    <form action="{{url_for('register_community')}}"method="post"class="popup_b_form"name="popup_b_form"onsubmit="return checkEmpty()">
        
        <a class="popup_b_text">コミュニティ名<span style="color:red;">　必須</span></a><br>
        <input type="text" name="com_name"class="input_a"autocomplete="off"value="{{data.com_name if data is defined else ''}}"placeholder="new community"maxlength="32"><br>
        
        <a class="popup_b_text">推しの名前<span style="color:red;">　必須</span></a><br>
        <input  type="text" name="fav_name"class="input_a"autocomplete="off"value="{{data.fav_name if data is defined else ''}}"placeholder="No name"maxlength="16"><br>
        
        <a class="popup_b_text">公開・非公開</a><br>
        <input type="radio"name="com_public"value="0"checked><a>公開</a><br>
        <input type="radio"name="com_public"value="1"><a>非公開</a><br>
        
        <a class="popup_b_text">概要<span style="color:red;">　必須</span></a><br>
        <textarea class="com_explanation"name="com_explanation"rows="7"cols="70"value="{{data.com_explanation if data is defined else ''}}"maxlength="256"></textarea><br>
        
        <input type="submit"class="submit_button">
    </form>
</div>

{% endblock %}

{%block jscode%}

let backbutton=document.querySelectorAll('.backbutton')
let ul=document.querySelector('.popupList')

let hamRegi=nav.querySelector('#ham_regi')
let popupB=document.querySelector('.popup_b')

hamRegi.addEventListener('click',function () {
    nav.classList.remove('open');
    blackBg.classList.toggle('popblackBg');
    popupB.classList.toggle('pop');
})

backbutton.forEach(function(back){
    back.addEventListener('click',function () {
        blackBg.classList.remove('popblackBg');
        popupB.classList.remove('pop');
        ul.innerHTML=''
    })
})

blackBg.addEventListener('click', function () {
    nav.classList.remove('open');
    blackBg.classList.remove('popblackBg');
    popupB.classList.remove('pop');
    ul.innerHTML=''
})

{%endblock%}