{% extends "header.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/menu_user.css')}}">
<link rel="stylesheet" href="/static/css/editprofile.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
{% endblock %}

{% block content %}
<div class="title">
    <h2 style="text-align:center">プロフィール編集</h2>
    <i class="fa-solid fa-arrow-right fontawesome-size" onclick="history.back();"></i>
</div>
<form action="{{ url_for('editprofile') }}" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <!-- 左側のセクション -->
        <div class="left-section">
            <div class="upload-section">
                <!-- アイコン画像表示 -->
                <img src="https://oshimore.s3.ap-northeast-1.amazonaws.com/img/{{ user.icon_url }}" alt="User Icon" class="icon-image">
                <!-- 画像アップロードフィールド -->
                <input type="file" id="filename" name="file" accept=".png">
                <div class="form-group-left">
                    <label for="user_id">ユーザーID</label>
                    <input type="text" id="user_id" name="user_id" value="{{ user.user_id }}">
                </div>
            </div>
        </div>
        
        <!-- 右側のセクション -->
        <div class="right-section">
            <div class="form-group horizontal">
                <label for="account_name">ユーザー名</label>
                <input type="text" id="account_name" name="account_name" value="{{ user.account_name }}">
            </div>
            
            <div class="form-group">
                <label for="profile">プロフィール文</label>
                <textarea id="profile" name="profile">{{ user.profile }}</textarea>
            </div>
            <div class="oshi-list-container">
                <table class="oshi-table">
                    <thead>
                        <tr>
                            <th>推しリスト</th>
                            <th>公開/非公開</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for oshi in oshis %}
                        <tr>
                            <td>{{ oshi.favorite_name }}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" name="oshi_{{ oshi.community_id }}" {% if not oshi.is_public %}checked{% endif %}>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ url_for('account_withdraw1') }}" class="delete-button">アカウント退会はこちら</a>
            <button class="save-button" type="submit">保存する</button>
        </div>
    </div>
</form>
{% endblock %}