<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>イベント編集</title>
</head>
<body>
    {% extends "header.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/menu_user.css')}}">
<link rel="stylesheet" href="/static/css/event_register.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">

{% endblock %}

{% block header_msg%}
{% if msg!=null %}
<a class="header_msg">{{msg}}</a>
{% endif %}
{%endblock%}

{%block content%}
    <div>
        <h1 class="h1">イベント編集</h1>
        <a  href="{{url_for('event_thread_check',id=event_info[0])}}"><i class="fa-solid fa-arrow-right fontawesome-size"></i></a>
    </div>

    <form class="formPosition" method="post" action="{{url_for('event_edit_result')}}">
        <input type="hidden" name="event_id" value="{{ event_info[0] }}">
        <label>
        <p>タイトル<span class="required">※必須</span></p>
            <div class="inputMargin">
                <input type="text" name="title" class="inputbox" minlength="1" maxlength="32" placeholder="1文字以上16字以下" required value="{{ event_info[1] }}"><br>
            </div>
        </label>

        <div class="TimeDate_position">
            <label>
            <p>開始日<span class="required">※必須</span></p>
                <div class="inputMargin">
                    <input type="date" name="start_day" class="inputTimeDate" required value="{{ event_info[2] }}">
                </div>
            </label>
        </div>


        <label>
            <p>終了日<span class="required">※必須</span></p>
            <div class="inputMargin">
                <input type="date" name="end_day" class="inputTimeDate" required value="{{ event_info[3] }}"><br>
            </div>
        </label>



        <div class="TimeDate_position">
            <label>
                <p>開始時刻</p>
                <div class="inputMargin">
                    <input type="time" name="start_time" class="inputTimeDate" value="{{ event_info[4] }}">
                </div>
            </label>
        </div>

        <p>終了時刻</p>
        <div class="inputMargin">
            <input type="time" name="end_time" class="inputTimeDate" value="{{ event_info[5] }}">
        </div>

        <p>URL</p>
        <div class="inputMargin">
            <input type="text" name="url" class="inputbox" maxlength="256" value="{{ event_info[6] }}">
        </div>

        <p>説明</p>
        <div class="inputMargin">
            <textarea type="text" name="explanation" class="inputBoxArea" maxlength="256">{{ event_info[7] }}</textarea>
        </div>


       <button type="submit" class="btn button005" style="margin-bottom: 15px">編集</button>
    </form>






    <div class="popup_b">
        <a><img  class="backbutton"src="{{url_for('static',filename='/imges/back.png')}}"></a>
        <a class="popup_b_title">コミュニティ作成</a><br>
        <form action="{{url_for('register_community')}}"method="post"class="popup_b_form"name="popup_b_form"onsubmit="return checkEmpty()">

            <a class="popup_b_text">コミュニティ名<span style="color:red;">　必須</span></a><br>
            <input type="text" name="com_name"class="input_a"autocomplete="off"value="{{data.com_name if data is defined else ''}}"placeholder="new community"maxlength="32"><br>

            <a class="popup_b_text">推しの名前<span style="color:red;">　必須</span></a><br>
            <input  type="text" name="fav_name"class="input_a"autocomplete="off"value="{{data.fav_name if data is defined else ''}}"placeholder="No name"maxlength="16"><br>

            <a class="popup_b_text">公開・非公開</a><br>
            <input type="radio"name="com_public"value="0"checked><a>公開</a><br>
            <input type="radio"name="com_public"value="1"><a>非公開</a><br>

            <a class="popup_b_text">概要<span style="color:red;">　必須</span></a><br>
            <textarea class="com_explanation"name="com_explanation"rows="7"cols="70"value="{{data.com_explanation if data is defined else ''}}"maxlength="256"></textarea><br>

            <input type="submit"class="submit_button">
        </form>
    </div>

{%endblock%}

{%block jscode%}

let backbutton=document.querySelectorAll('.backbutton')
let ul=document.querySelector('.popupList')

let hamRegi=nav.querySelector('#ham_regi')
let popupB=document.querySelector('.popup_b')

hamRegi.addEventListener('click',function () {
    nav.classList.remove('open');
    blackBg.classList.toggle('popblackBg');
    popupB.classList.toggle('pop');
})

backbutton.forEach(function(back){
    back.addEventListener('click',function () {
        blackBg.classList.remove('popblackBg');
        popupB.classList.remove('pop');
        ul.innerHTML=''
    })
})

blackBg.addEventListener('click', function () {
    nav.classList.remove('open');
    blackBg.classList.remove('popblackBg');
    popupB.classList.remove('pop');
    ul.innerHTML=''
})


{%endblock%}
</body>
</html>
