{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/menu_user.css')}}">
{% endblock %}

{% block content %}
<div id="calendar"></div>
{% endblock %}


{%block jscode%}
const weeks = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
const date = new Date()
const year = date.getFullYear()
const month = date.getMonth() + 1
const startDate = new Date(year, month - 1, 1) // 月の最初の日を取得
const endDate = new Date(year, month, 0) // 月の最後の日を取得
const endDayCount = endDate.getDate() // 月の末日
const startDay = startDate.getDay() // 月の最初の日の曜日を取得
let dayCount = 1 // 日にちのカウント
let calendarHtml = '' // HTMLを組み立てる変数
calendarHtml += '<h1 class="caltitle">' + year + '/' + month + '</h1>'
calendarHtml += '<table class="cal"><img class="calback" src="{{url_for('static',filename='/imges/calback.png')}}">'
//カレンダーのイベントをflaskから配列で日付ごとに入れたのを受け取る
// 曜日の行を作成
for (let i = 0; i < weeks.length; i++) {
    calendarHtml += '<td class="calwe">' + weeks[i] + '</td>'
}

for (let w = 0; w < 5; w++) {
    calendarHtml += '<tr>'

    for (let d = 0; d < 7; d++) {
        if (w == 0 && d < startDay) {
            // 1行目で1日の曜日の前
            calendarHtml += '<td class="calday"></td>'
        } else if (dayCount > endDayCount) {
            // 末尾の日数を超えた
            calendarHtml += '<td class="calday"></td>'
        } else {
            //イベントが入っていない日付は色を消したのを入れる。
            calendarHtml += '<td class="calday">' + '<a>' + dayCount + '</a><br>' + '<a class="event"href="">' + 'イベント名' + '</a><br>' + '</td>'
            dayCount++
        }
    }
    calendarHtml += '</tr>'
}
calendarHtml += '<img class="calnext" src="{{url_for('static',filename='/imges/calnext.png')}}"></table>'

document.querySelector('#calendar').innerHTML = calendarHtml
{%endblock%}
